<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <connectionStrings>
    <add connectionString="server=localhost;uid=accelerateUtw99;pwd=PQI*D_GyQg:0;Database=accelerate-wp" name="accelerate-wp" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
  <system.webServer>
    <rewrite>
      <rules/>
    </rewrite>
  </system.webServer>
</configuration>
